{% extends 'OroUIBundle:actions:view.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroEntityConfigBundle::macros.html.twig' as entityConfig %}

{% block stats %}
{% endblock %}

{% oro_title_set({params : {"%entity.name%": entity.name|default('N/A') }}) %}

{% block navButtons %}
    {% if resource_granted('EDIT', entity) %}
        {{ UI.editButton({
        'path' : path('<%= bundle_name %>_<%= entity_name %>_update', { id: entity.id }),
        'entity_label': '<%= bundle._name %>.<%= entity_name %>.entity_label'|trans
        }) }}
    {% endif %}
    {% if resource_granted('DELETE', entity) %}
        {{ UI.deleteButton({
        'dataUrl': path('<%= bundle_name %>_<%= entity_name %>_api_delete_<%= entity_name %>', {'id': entity.id}),
        'dataRedirect': path('<%= bundle_name %>_<%= entity_name %>_index'),
        'aCss': 'no-hash remove-button',
        'id': 'btn-remove-user',
        'dataId': entity.id,
        'entity_label': '<%= bundle._name %>.<%= entity_name %>.entity_label'|trans
        }) }}
    {% endif %}
{% endblock navButtons %}

{% block pageHeader %}
    {% set breadcrumbs = {
    'entity': entity,
    'indexPath': path('<%= bundle_name %>_<%= entity_name %>_index'),
    'indexLabel': '<%= bundle._name %>.<%= entity_name %>.entity_plural_label'|trans,
    'entityTitle': entity.name
    } %}

    {{ parent() }}
{% endblock pageHeader %}

{% block content_data %}
    {%- set <%= entityName %>Information -%}
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {#{ UI.renderProperty('<%= bundle._name %>.<%= entity_name %>.name.label'|trans, entity.name) }}
            {{ UI.renderHtmlProperty('<%= bundle._name %>.<%= entity_name%>.description.label'|trans, entity.description|escape|nl2br) }#}
        </div>
        <div class="responsive-block">
            {{ entityConfig.renderDynamicFields(entity) }}
        </div>
    </div>
    {%- endset -%}
    {% set dataBlocks = [
    {
    'title': '<%= bundle._name %>.<%= entity_name %>.block.general'|trans,
    'class': 'active',
    'subblocks': [
    {'data' : [<%= entityName %>Information]}
    ]
    }
    ] %}


    {% set id = '<%= entityName %>View' %}
    {% set data = { 'dataBlocks': dataBlocks } %}

    {{ parent() }}
{% endblock content_data %}
