{% extends 'OroUIBundle:actions:view.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroEntityConfigBundle::macros.html.twig' as entityConfig %}

{% set fullname = entity|oro_format_name|default('N/A') %}
{% oro_title_set({params : {"%username%": fullname }}) %}

{% block navButtons %}
    {% if resource_granted('EDIT', entity) %}
        {{ UI.editButton({
        'path' : path('tlt_organization_unit_announcer_update', { id: entity.id }),
        'entity_label': 'tlt.organizationunit.announcer.entity_label'|trans
        }) }}
    {% endif %}
    {% if resource_granted('DELETE', entity) %}
        {{ UI.deleteButton({
        'dataUrl': path('tlt_organization_unit_announcer_api_delete_announcer', {'id': entity.id}),
        'dataRedirect': path('tlt_organization_unit_announcer_index'),
        'aCss': 'no-hash remove-button',
        'id': 'btn-remove-user',
        'dataId': entity.id,
        'entity_label': 'tlt.organizationunit.announcer.entity_label'|trans
        }) }}
    {% endif %}
{% endblock navButtons %}

{% block pageHeader %}
    {% set breadcrumbs = {
    'entity': entity,
    'indexPath': path('tlt_organization_unit_announcer_index'),
    'indexLabel': 'tlt.organizationunit.announcer.entity_plural_label'|trans,
    'entityTitle': fullname
    } %}

    {{ parent() }}
{% endblock pageHeader %}

{% block breadcrumbs %}
    {{ parent() }}
    <div class="pull-left">
        {% if entity.enabled %}
            <div class="badge badge-enabled status-enabled"><i class="icon-status-enabled icon-circle"></i>{{ 'Active'|trans }}</div>
        {% else %}
            <div class="badge badge-disabled status-disabled"><i class="icon-status-disabled icon-circle"></i>{{ 'Inactive'|trans }}</div>
        {% endif %}
    </div>
{% endblock breadcrumbs %}

{% block stats %}
    <li>{{ 'oro.ui.created_at'|trans }}: {{ entity.createdAt ? entity.createdAt|oro_format_datetime : 'N/A' }}</li>
    <li>{{ 'oro.ui.updated_at'|trans }}: {{ entity.updatedAt ? entity.updatedAt|oro_format_datetime : 'N/A' }}</li>
{% endblock stats %}

{% block content_data %}
    {%- set announcerInformation -%}
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {{ UI.renderProperty('tlt.organizationunit.announcer.tlt_entity.label'|trans, entity.tltEntity) }}
            {{ UI.renderProperty('tlt.organizationunit.announcer.firstname.label'|trans, entity.firstName) }}
            {{ UI.renderProperty('tlt.organizationunit.announcer.lastname.label'|trans, entity.lastName) }}
            {{ UI.renderProperty('tlt.organizationunit.announcer.compartment.label'|trans, entity.compartment) }}
        </div>
        <div class="responsive-block">
            {{ entityConfig.renderDynamicFields(entity) }}
        </div>
    </div>
    {%- endset -%}
    {% set dataBlocks = [
    {
    'title': 'tlt.organizationunit.announcer.block.general'|trans,
    'class': 'active',
    'subblocks': [
    {'data' : [announcerInformation]}
    ]
    }
    ] %}


    {% set id = 'announcerView' %}
    {% set data = { 'dataBlocks': dataBlocks } %}

    {{ parent() }}
{% endblock content_data %}
