{% extends 'OroUIBundle:actions:view.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroEntityConfigBundle::macros.html.twig' as entityConfig %}

{% block stats %}
{% endblock %}

{% oro_title_set({params : {"%entity.name%": entity.name|default('N/A') }}) %}

{% block navButtons %}
    {% if resource_granted('EDIT', entity) %}
        {{ UI.editButton({
        'path' : path('tlt_organization_unit_tel_entity_update', { id: entity.id }),
        'entity_label': 'tlt.organizationunit.telentity.entity_label'|trans
        }) }}
    {% endif %}
    {% if resource_granted('DELETE', entity) %}
        {{ UI.deleteButton({
        'dataUrl': path('tlt_organization_unit_tel_entity_api_delete_tel_entity', {'id': entity.id}),
        'dataRedirect': path('tlt_organization_unit_tel_entity_index'),
        'aCss': 'no-hash remove-button',
        'id': 'btn-remove-user',
        'dataId': entity.id,
        'entity_label': 'tlt.organizationunit.telentity.entity_label'|trans
        }) }}
    {% endif %}
{% endblock navButtons %}

{% block pageHeader %}
    {% set breadcrumbs = {
    'entity': entity,
    'indexPath': path('tlt_organization_unit_tel_entity_index'),
    'indexLabel': 'tlt.organizationunit.telentity.entity_plural_label'|trans,
    'entityTitle': entity.name
    } %}

    {{ parent() }}
{% endblock pageHeader %}

{% block content_data %}
    {%- set telEntityInformation -%}
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {{ UI.renderProperty('tlt.organizationunit.telentity.name.label'|trans, entity.name) }}
        </div>
        <div class="responsive-block">
            {{ entityConfig.renderDynamicFields(entity) }}
        </div>
    </div>
    {%- endset -%}
    {% set dataBlocks = [
    {
    'title': 'tlt.organizationunit.telentity.block.general'|trans,
    'class': 'active',
    'subblocks': [
    {'data' : [telEntityInformation]}
    ]
    }
    ] %}


    {% set id = 'telEntityView' %}
    {% set data = { 'dataBlocks': dataBlocks } %}

    {{ parent() }}
{% endblock content_data %}
