{% extends 'OroUIBundle:actions:view.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroEntityConfigBundle::macros.html.twig' as entityConfig %}

{% block stats %}
{% endblock %}

{% oro_title_set({params : {"%entity.name%": entity.name|default('N/A') }}) %}

{% block navButtons %}
    {% if resource_granted('EDIT', entity) %}
        {{ UI.editButton({
        'path' : path('tlt_organization_unit_general_location_update', { id: entity.id }),
        'entity_label': 'tlt.organizationunit.generallocation.entity_label'|trans
        }) }}
    {% endif %}
    {% if resource_granted('DELETE', entity) %}
        {{ UI.deleteButton({
        'dataUrl': path('tlt_organization_unit_general_location_api_delete_general_location', {'id': entity.id}),
        'dataRedirect': path('tlt_organization_unit_general_location_index'),
        'aCss': 'no-hash remove-button',
        'id': 'btn-remove-user',
        'dataId': entity.id,
        'entity_label': 'tlt.organizationunit.generallocation.entity_label'|trans
        }) }}
    {% endif %}
{% endblock navButtons %}

{% block pageHeader %}
    {% set breadcrumbs = {
    'entity': entity,
    'indexPath': path('tlt_organization_unit_general_location_index'),
    'indexLabel': 'tlt.organizationunit.generallocation.entity_plural_label'|trans,
    'entityTitle': entity.name
    } %}

    {{ parent() }}
{% endblock pageHeader %}

{% block content_data %}
    {%- set generalLocationInformation -%}
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {{ UI.renderProperty('tlt.organizationunit.generallocation.name.label'|trans, entity.name) }}
        </div>
        <div class="responsive-block">
            {{ entityConfig.renderDynamicFields(entity) }}
        </div>
    </div>
    {%- endset -%}
    {% set dataBlocks = [
    {
    'title': 'tlt.organizationunit.generallocation.block.general'|trans,
    'class': 'active',
    'subblocks': [
    {'data' : [generalLocationInformation]}
    ]
    }
    ] %}


    {% set id = 'generalLocationView' %}
    {% set data = { 'dataBlocks': dataBlocks } %}

    {{ parent() }}
{% endblock content_data %}
